<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <a class="skip-to-content" tabindex="0">Skip to Content</a>
    <header class="header" tabindex="0">
      <div class="header-title" tabindex="0">
        <h1>Find Dining</h1>
      </div>
      <button id="menu" class="header-menu" tabindex="0">☰</button>
      <nav id="drawer" class="header-nav" tabindex="0">
        <ul>
          <li class="header-nav-item" tabindex="0"><a href="/">Home</a></li>
          <li class="header-nav-item" tabindex="0"><a href="#/like">Favorites</a></li>
          <li class="header-nav-item" tabindex="0"><a href="https://www.linkedin.com/in/fadhiltanjo/" target="_blank">About</a></li>
        </ul>
      </nav>
    </header>
    <section class="hero-section" tabindex="0">
      <hero-div></hero-div>
    </section>
    <main id="main-content" tabindex="0">
    </main>
    <footer>
      <p tabindex="0">Find Dining &copy; 2024</p>
    </footer>
  </body>
</html>
